[2021-07-06 08:13] VoidStardust opened #2 "No module named 'switchml_pb2'"
Hello,
I try to run SwitchML as a benchmark, but encountered a problem when trying to run the python controller as below:

[code]

Environment:
* SDE version: 9.3.0
* Python version: 3.8.11

Looking forward to your reply.

[2021-07-06 08:26] OasisArtisan commented on #2
Hey, thanks for reaching out.

You should use the makefile inside the controller directory to generate these modules from protobuf.

Simply run

    make

when you are inside the controller directory and try again.

Let me know if that fixed your issue.

Cheers.

[2021-07-06 09:31] VoidStardust commented on #2
That works for me, thanks for your reply.

I just modified the *GRPC_HOME* path to my own installation of grpc, for I don't need to run `make third_party` to build embedded grpc.

[code]

Besides, I need to fix some dependency problem.

[code]

[2021-07-06 13:41] OasisArtisan commented on #2
We haven't tested with other GRPC versions but hopefully everything works out.

Good luck.

[2021-07-06 13:41] #2 closed

[2021-07-07 13:55] carlzhang4 opened #3 "Build issue: RDMAConnectRequest in namespace ‘SwitchML’ does not name a type"
Hi, I have tried to build your project, after solving some problems that had not been mentioned in the document, I ran "make RDMA=1" in ./dev_root/clinet_lib, I encountered following errors:
[code]

And I can't find these classes' definition in any file of the project.

[2021-07-07 19:42] AmedeoSapio commented on #3
Hi, thanks for engaging with SwitchML.
Those classes are autogenerated by protoc using the .proto file in the protos folder.
The command to generate those files should be executed by the makefile before the actual compilation. If this process failed, the compilation should not even start, so I am puzzled from your output.

See the make output here:
[code]
What are the problems that you faced and h

[2021-07-07 20:15] OasisArtisan commented on #3
Thanks for reaching out.
It seems you are using an older commit since the file `rdma_grpc_client` have since been deleted yet I see it among other old names in your output.

If that's correct then please pull the new changes and let us know if you face any other problems.

[2021-07-10 07:37] carlzhang4 commented on #3
Hi,
I pulled your latest code and now I can build client-lib successfully, but when I try to compile the example, it has following output.
It seems that grpc and protobuf has some problems, but I can find them in correct path.
I am not familiar with the whole project structure, so I can't figure out what to do such as modifying the makefile.
![image](https://user-images.githubusercontent.com/33260

[2021-07-12 07:09] OasisArtisan commented on #3
It seems you have a problem with linking protobuf.

What version of cmake do you have?
Can you show me the contents of dev_root/third_party/grpc/build/lib ?

[2021-07-14 06:08] carlzhang4 commented on #3
I reinstalled Cmake 3.17.0, and tried again, still failed.
My dev_root/third_party/grpc/build/lib is as follows
![image](https://user-images.githubusercontent.com/33260712/125571361-0a73cbbf-fe3f-409a-86e1-d51a0270eace.png)

[2021-07-24 03:00] AmedeoSapio commented on #3
I see from your compilation output that the library absl_base is not found:
```Package absl_base was not found in the pkg-config search path.```
but you have it in `dev_root/third_party/grpc/build/lib`.

The example Makefile is using pkg-config to get the gcc parameters to link the libraries required by gRPC, like that one. The path to that library is added to the `PKG_CONFIG_PATH` variable before

[2021-09-11 13:08] carlzhang4 opened #4 "Confusion about the intergration of pytorch."
Hi there,
I read your PyTorch patch, and was confused about the modification, your modification was based on Gloo backend code, which would synchronize the stream every time the procedure call the AllReduce function. Isn't it inefficient? It seems that NCCL backend would put all the AllReduce operations into an async work queue which does not require synchronizing the stream before every AllReduce

[2021-09-12 18:51] OasisArtisan commented on #4
That is a very good observation.

Currently, SwitchML does not deal with GPU buffers directly and requires that they be copied to host memory similar to how GLOO operates. That is why we use the same logic as GLOO where we let PyTorch copy to host side memory, perform a synchronous allreduce, then copy memory back.

You are correct in that we can increase the efficiency by letting SwitchML handle

[2021-09-14 08:07] carlzhang4 commented on #4
Thank you for replying. Anyway, this work is brilliant.

[2021-09-14 10:10] OasisArtisan commented on #4
Thanks. Feel free to reach out if you have any other problems.

[2021-09-14 10:10] #4 closed

[2021-11-17 06:07] MrGaoxx opened #5 "How to disable ICRC on RNICs?"
Hi i am very interested in the RDMA-based implementation.
Could u tell me how to disable ICRC on RNICs (referred in README)?

[2021-11-18 00:32] AmedeoSapio commented on #5
Hi, thanks for the interest in this project.

Unfortunately, the way in which ICRC checking is disabled changes depending on the manufacturer and model of the NIC.

There is a script [here](https://github.com/p4lang/p4app-switchML/blob/main/dev_root/scripts/disable-icrc.sh) that works to disable ICRC checking on Mellanox Connect-X 5 and 6.

If you have a different NIC, probably the best way to fin

[2021-11-18 00:32] #5 closed

[2022-03-07 07:53] LaceFern opened #6 "Could not start the context due to missing configuration."
Hello. I ran **make RDMA=1** under **p4app-switchML/dev_root/client_lib/**, then ran **make RDMA=1**  under **p4app-switchML/dev_root/examples/**, finally ran **./hello_world** under **p4app-switchML/dev_root/build/bin/**. I found Line 32: ctx.Start() in  p4app-switchML/dev_root/examples/hello_world/main.cc could not run correctly and the process aborted as the following fig. shows.
<img width="59

[2022-03-08 06:46] LaceFern commented on #6
Thanks, your reply helps a lot. However now I meet another problem. I ran the hello_world example in a server without any p4 switch working, with an aim to check if rdma packets could be generated correctly. However, I found the tx pkt count in the 100Gb/s NIC of this server didn't increase. I wonder if these are some configurations that need to be updated with a certain NIC like name, ip, mac, et

[2022-03-08 06:49] mcanini commented on #6
The NIC counters reported by the kernel (via ifconfig) might not reflect the RDMA packets. You can use Mellanox tools to read the NIC counters directly.

[2022-03-09 12:48] LaceFern commented on #6
But, even when I link the server's 100Gb/s NIC port to one port of p4 switch, there was no packet cached by the switch as well. I want to use switch to catch some packets like packets for building rdma communication. So I wonder if there are any configuration I haven't set correctly.

1. I find that in the switchml.cfg the controller ip is 127.0.0.1, which seems related packets won't send out to t

[2022-03-09 16:46] kfertakis opened #7 "Controller configuration & port loopback error"
Hi,

I am trying to benchmark switchML on a Tofino switch(APS Networks BF2556X-1T-A1F) and I'm having some difficulty running the controller. I think I have managed to compile the P4 program and deploy it on the switch. Then when I'm trying to execute the controller, I'm getting the following output from the python `switchml.py` script:

[code]

and the `bf_switchd` throws the following errors:

[

[2022-03-09 23:09] OasisArtisan commented on #6
**SwitchML needs 3 components to function.**
1. **Client library** which you seem to have been able to compile and run.
2. **Controller.** Which is a python program that acts like a mediator between the switch and the clients and you have to run this separately on a machine.
3. **P4** program which has to be uploaded to your switch so that it performs the switchml aggregation logic.

Without these

[2022-03-09 23:58] AmedeoSapio commented on #6
Yes, I confirm that what @OasisArtisan said is correct. With the current version, you can use any port on pipe 0 of the switch to connect the server, which are all ports with data plane number (`D_P` value in `pm show`) less than or equal to 64.
We will soon remove this limitation and allow to use any port on the switch.

You need to run the controller to see any packet reaching the switch for 2 r

[2022-03-10 04:59] VoidStardust commented on #6
Hello,
I'm working on SwitchML benchmark with @LaceFern now.
We currently own a 32 front-port tofino switch, so I modified the controller code `switchml.py` as below

[code]

I find that you have not support 512B packet yet, so I guess we can only run with 256B packet. I wonder if there are any other configuration we should modify to make SwitchML work with our 32 port switch. For example,  I noti

[2022-03-11 03:18] AmedeoSapio commented on #6
Hi,
yes, you are right, we only support 256B payloads on 2-pipes switches, and additionally 1024B in 4 pipes switches.
Consider that there are 2 kinds of 32 front-ports tofino switches: in one the tofino chip has 2 pipes, in the other Tofino still has 4 pipes and ports in 2 pipes are internally set in loopback mode.

With 4 pipes switches (regardless of how many front panel ports) we can use the f

[2022-03-11 03:27] AmedeoSapio commented on #7
Hello, thanks for engaging with SwitchML.

This issue is due to your switch having a Tofino chip with only 2 pipes instead of 4.

In a single pass through tofino,  we can process up to 256B of payload data per packet. With a 4 pipes switch we have an additional mode called folded-pipe, that sets all the ports in pipes 1,2,3 (plus some internal special ports) in loopback mode. In this way you can o

[2022-03-11 16:03] kfertakis commented on #7
Hi, thank you for going over my issue and pushing the changes, I highly appreciate it.

The changes did indeed solved the issue and I was able to run the controller successfully and program the ports.

[2022-03-11 16:03] #7 closed

[2022-03-12 19:16] kfertakis opened #8 "hello_world example not sending any traffic"
Hi,

I am trying to benchmark SwitchML and I have managed to compile the P4 program and deploy it on the switch. I am also running the controller on the switch directly and I have connected two different machines on the switch and I'm trying to run the hello_world example. I have modified the `switchml.cfg` file accordingly by setting the backend to `rdma` and the relevant values for the rest (`nu

[2022-03-13 03:05] AmedeoSapio commented on #8
Hi,
I think this may be due to a misconfiguration. You should use ROCEv2 (`gid_index = 3`) and the IP should not be all zeros, as we get the IP from the GID of the interface and share that with the controller before sending any traffic (we use ROCEv2). This is an example of what you should see in the controller:
[code]
Maybe there is a problem with the interface configuration. Assuming you want to

[2022-03-13 13:07] kfertakis commented on #8
Yes, it seems this was indeed a misconfiguration issue. I changed the RDMA mode to RoCEv2 with IP-based GID (`gid_index = 3`) and after setting IP addresses to the mlx5_1 interfaces in both machines, I rerun the program and now the controller is picking up the IP addresses and the packet counters seem to always increase.

However, the program still seems to not finish within a reasonable amount of

[2022-03-14 19:48] kfertakis commented on #8
It seems I'm experiencing the same issue with the `allreduce` benchmark. The benchmarks starts, submits 5 warmup jobs but stalls afterward.

The output of the benchmark is:

[code]

It seems, in both cases (`helloworld` and `allreduce` benchmark) I'm stuck at `ctx.WaitForAllJobs();` and the condition variable `all_jobs_finished_event_` is never notified (within a reasonable amount of time). The co

[2022-03-14 21:39] OasisArtisan commented on #8
It seems like you are getting stuck retransmitting packets. Either the packets are not being sent to the switch properly or not being transmitted back properly.

**Things to double check quickly**

- Are you setting rank correctly in the configuration? Each node has its own config with its own rank from 0 to 1?
- Are you compiling with retransmissions ? That is you did not compile with the TIMEOUT

[2022-03-15 01:46] kfertakis commented on #8
Yeap, it seems I keep retransmitting packets.

Switching to a more verbose output as suggested, found these logs being constantly generated:

[code]

Regarding your points:

- Ranks are set correctly as documented.
- I am not compiling with TIMEOUTS=0 flag.
- From the switch's counters, I can see that packets are indeed received and sent back.

The only thing I didn't get it work is the printing o

[2022-03-15 02:42] AmedeoSapio commented on #8
One problem with your cfg file is `packet_numel = 256`, which means 256 of 32 bits elements per packet = 1KB. This is only supported with the 4 pipes folded pipeline. With a single pipeline the only valid value is `packet_numel = 64`, which is 256B per packet that can be processed in a single pass through Tofino.
Anyway, this is not the cause of your issue, as in this case Tofino will only process

[2022-03-15 05:13] VoidStardust commented on #6
Hello,

We have meet exactly the same problem as #8 with the allreduce benchmark.

According to the advise you gave in https://github.com/p4lang/p4app-switchML/issues/8#issuecomment-1067503416, our config file is as below:
[switchml.cfg.txt](https://github.com/p4lang/p4app-switchML/files/8250320/switchml.cfg.txt)

We are also stuck at `ctx.WaitForAllJobs();`, and the message from the controller is

[2022-03-15 06:20] AmedeoSapio commented on #6
Yes, it is true that we need to recirculate once during harvest to get the second batch of 32 elements.  You can see [here](https://github.com/p4lang/p4app-switchML/blob/7ded628eb31a86e80ad0bf65e72a3e94e0e13d05/dev_root/controller/next_step_selector.py#L77) that the last packet (`Flag.LAST`), in the case with only 64 elements per packet (256B = `PacketSize.MTU_256`) , is recirculated for the harve

[2022-03-15 06:25] AmedeoSapio commented on #8
BTW I see that you are using the `mlx5_1` device, so you need to change this line `DEV=mlx5_0` in the `disable-icrc.sh` script to disable "ICRC checking" in the right interface.
If you have done that already, can you also show the output of `disable-icrc.sh`?

[2022-03-15 10:03] LaceFern commented on #6
The output of disable-icrc.sh is shown as below.
<img width="748" alt="1647338199(1)" src="https://user-images.githubusercontent.com/32428729/158352899-1c9d820e-4969-423e-b40e-51af15df5147.png">

I ran the script in [the comment](https://github.com/p4lang/p4app-switchML/issues/8#issuecomment-1067503416) before and after the experiment. The differences between two outputs are shown as below.
![imag

[2022-03-15 19:40] AmedeoSapio commented on #8
The fact that the hello world verification fails is expected, because you used `prepostprocessor = bypass`, which means that we disabled the quantization/dequantization, so floats are not converted to a fixed point representation before sending the data to the switch and the aggregation is not done correctly as a result.

Now that your problem is solved, you can use `prepostprocessor = cpu_exponen

[2022-03-15 22:52] kfertakis commented on #8
I can confirm that now, after enabling the quantization via the `prepostprocessor` setting and having a `packet_numel=64`, both the `helloworld` example and `allreduce` benchmark execute successfully. Thank you for your help and assistance in this. I hope future adopters can benefit from our discussion as well.

[2022-03-15 22:52] #8 closed

[2022-03-17 04:40] AmedeoSapio commented on #6
Hi,
Are you using the config file that @VoidStardust sent in the previous commit?
Are you using `packet_numel = 64` in your config file?
With a 2 pipes switch, 64 elements per packet is the only supported value.
The cfg file you shared earlier used mlx5_1, but the picture that you shared is disabling ICRC in mlx5_0.
Please check that ICRC is disabled in the right interface and try again.

[2022-03-21 04:11] LaceFern commented on #6
Thanks! We've run examples successfully!

[2022-03-21 04:11] #6 closed

[2022-03-24 14:14] caoxiaogang96 opened #9 "make DPDK=1 MLX5=1 error"
When I compile and install client_lib with command 'make DPDK=1 MLX5=1', I encounter four problems:
1) error: unknown subcommand：get-url，which is in dev_root/client_lib/Makefile:154
2) fatal: ambiguous argument 'HEAD': unknown revision or path not in the working tree.
3) Package absl_base was not found in the pkg-config search path. Perhaps you should add the directory containing `absl_base.pc' bu

[2022-03-29 15:12] kfertakis opened #10 "Port traffic redirection with logic bypass"
Hi,

I would like to benchmark SwitchML on an emulated topology bigger than that of a single rack. To do so, I plan to reuse the same Tofino switch(APS Networks BF2556X-1T) with SwitchML deployed on it and redirect all traffic coming in from a specific port into another port without any processing done. That port would then be physically connected to yet another port which will consume the traffic

[2022-03-30 03:11] AmedeoSapio commented on #10
Hi,
the current code doesn't support this, but I think it would be a useful feature. A user might want to disable SwitchML processing on some specific port as you suggest, and this should be achieved by setting a parameter in the controller (like with an additional CLI command).

I think that this can be easily done with a change to the parser logic (I think that we cannot do this in the control b

[2022-03-30 21:08] kfertakis commented on #10
Hi,

Thank you very much for the detailed response and for providing an overview of the proposed solution.

I understand that two modifications are needed in order to support the said case. First, we need to modify the ingress parser in order to skip the processing logic for all packets coming from a specific port. I understand that the method you explained of utilizing the port metadata available

[2022-04-07 18:33] kfertakis commented on #10
Thanks again for the input.

I have indeed modified the `parse_ethernet` parser as you suggested. However, I'm having a bit of difficulty setting the `forwarder` table right. I have modified the table as follows:

[code]

in order to be able to match to the ingress port beside the dst address. However, I'm not sure how to properly configure the table. When I'm populating the table through the cont

[2022-04-13 02:39] AmedeoSapio commented on #10
Hi,
in your code to add the rule you are missing the value of the dst address you want to match on, so the rule is getting a default value of all zeros, that won't match any packet. This is how you can add a rule with both match fields (replace MAC_ADDRESS with the value you need):

[code]
To add a rule with a wildcard, you can use ternary match, like this table does:
https://github.com/p4lang/p4a

[2022-04-19 14:03] kfertakis commented on #10
Hi,

Thanks again for the comments and support on this.

I have indeed changed the forwarding table to a ternary match on the keys as shown below:

[code]

for which I'm populating an entry for enabling the forwarding of all traffic from `ingress_dev_port` port to `egress_dev_port` like so:

[code]

and then the normal destination mac forwarding rules are added like this:

[code]

I am trying to v

[2022-04-20 01:17] AmedeoSapio commented on #10
My first guess is that the first packet that goes out when you do a ping is an arp packet. That packet will have as destination mac address the broadcast address FF:FF:FF:FF:FF:FF that doesn't match any rule and is supposed to be flooded on all ports using the flood default rule and the multicast group you commented. Try adding the arp rule manually first so that an arp resolution is not needed.

[2022-04-20 23:24] kfertakis commented on #10
Thanks again for the comments.

I've managed to identify the issue that was causing the unexpected packet processing behavior. In SwitchML's parser:

https://github.com/p4lang/p4app-switchML/blob/7ded628eb31a86e80ad0bf65e72a3e94e0e13d05/dev_root/p4/parsers.p4#L46-L59

all pipe 1,2,3 ports are considered to be recirculation which follows a specific parsing logic, extracting some SwitchML specific h

[2022-04-21 19:27] AmedeoSapio commented on #10
Hi,
yes, all that you said is correct.
In a 2-pipe switch like yours, there are 2 pipes that sometimes are called 1 and 3 (like in the `P/PT` column of `pm show`), and sometimes are called 0 and 1 (this is the dataplane number that we use in the P4 program).

In the P4 program a port number is a 9 bit number (the number in the `D_P` column of `pm show`) and the 2 most significant bits are the pipe

[2022-04-29 02:56] AmedeoSapio commented on #9
Hi,
the first two errors should be fixed if you update git to a newer version (2.20+).
For the other two, I cannot reproduce them and it is difficult to solve them without knowing your environment. Please try using the available dockerfiles, which should provide a more predictable environment. If you still have problems, I need to know more about your environment (like OS and gcc versions).

The M

[2022-04-29 02:56] #9 closed

[2022-05-15 14:05] LaceFern opened #11 "Programs stucked with "submitting 5 warmup jobs" printed."
Hello. I ran allreduce_benchmark on two servers and found that both programs stucked with "submitting 5 warmup jobs" printed on the console. I had checked that in the switchml.cfgs on both servers, the num_workers was 2, and the rank was 0 for one while 1 for the other. What should I do next to debug it? Thanks in advance for any help!

[2022-06-08 12:11] OasisArtisan commented on #11
Thank you for getting in touch.
The reason why it took us so long to respond is because you did not include enough information for us to be able to help you.

If you are still having this problem please reopen it and send us the configuration file that you are using, what type of backend you want to test with, and what steps did you take to compile and setup the SwitchML components.

[2022-06-08 12:12] #11 closed

[2022-06-30 08:22] Catchher opened #12 "client_lib/ABI_VERSION: No such file or directory"
when I exec  _make DPDK=1_ in path **dev_root**, it shows
 _cat: /p4app-switchML/dev_root/client_lib/ABI_VERSION: No such file or directory_ ,
Does it matter if this prompt is left alone?

[2022-06-30 08:29] Catchher commented on #12
and after I exec _python setup.py install_ in path **pytorch_plugin**, it seems installed successfully,
but when I test torch_switchml, it shows
_>>> import torch

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: /root/anaconda3/lib/python3.9/site-packages/torch_switchml-0.1-py3.9-linux-x86_64.egg/torch_switchml.cpython-39-x86_64-linux-gnu.so: undefined symbol:

[2022-07-03 23:13] OasisArtisan commented on #12
Hey, thanks for reaching out.
When you run python setup.py you have to pass the same build variables that you used in order to link the needed libraries.
So you should run
`DPDK=1 python setup.py`

I would also like to point out that the PyTorch plugin has not yet been tested for performance so use at your own discretion and if you find any issues we would be happy to hear from you about them.

[2022-07-04 09:38] 1908639561 opened #13 "ERROR - '$PKTGEN_PORT_CFG'"
Hi，
I'm trying to benchmark SwitchML on a Tofino switch (Wedge100BF-32X-O-AC-F), but I'm having some difficulty running the controller. I think I have successfully compiled the P4 program and deployed it on the switch. When I run the controller under "/dev_root/controller" on the switch, it gives me the following error.
![1656927166290](https://user-images.githubusercontent.com/95405577/177126968-

[2022-07-04 11:37] 1908639561 opened #14 "How can I get the register value of the ConnectX-6 NIC ?"
Hi，
I'm using a ConnectX-6 NIC, so how can I get the register values?
https://github.com/p4lang/p4app-switchML/blob/69337442701f20fa3e94d34a119e76bb8ad9699b/dev_root/scripts/disable-icrc.sh#L13

[2022-07-05 03:11] Catchher commented on #12
I'm sorry I didn't explain the details clearly, because I've already run the command
`DPDK=1 python setup.py`
I have tested many times according to the document, and there are always such errors, and I have tried many methods, which can not solve the problem.

So I turned to **pytorch_patch** method, which can successfully `import torch`, but when I run the training code, it reports such an error

[2022-07-05 09:36] 1908639561 opened #15 "#1 ./hello_world: error while loading shared libraries: libprotobuf.so.3.11.2.0: cannot open shared object file: No such file or directory #2 Cannot allocate memory [12]"
Hi,
I ran **make RDMA=1** under **p4app-switchML/dev_root/client_lib/**, then **make RDMA=1** under **p4app-switchML/dev_root/examples/**, and finally ran **. /hello_world** under p4app-switchML/dev_root/ build/bin/ . But it shows: "./hello_world: error while loading shared libraries: libprotobuf.so.3.11.2.0: cannot open shared object file: No such file or directory".
![1657013264812](https://user

[2022-07-07 02:12] OasisArtisan commented on #15
You have to compile the needed third party libraries which in your case is only GRPC.
Go to dev_root/third_party and run `make RDMA=1`. This will compile GRPC then print an important message that you need to follow in order to register the GRPC library in your system.

Next time, you can just run `make RDMA=` in dev_root and it will perform all needed steps.

Let me know if it doesn't work out.

[2022-07-07 02:55] OasisArtisan commented on #12
I will investigate the pytorch_plugin issue when compiling with DPDK and get back to you.

As for the pytorch_patch, you seem to have it installed correctly. The error you are getting doesn't seem to be an integration issue but rather a NIC compatibility issue. Can you run the helloworld example and confirm that you will get the same errors?

[2022-07-07 03:30] Catchher commented on #12
THANKS.
I can run the `helloword` with **switchml.cfg**, which was generated automatically with no modification.
[code]
But, with the **switchml.cfg** modified, it reproduce the same error as above.
[code]
Following is the general info of **switchml.cfg**, running on machine, work2.
[code]
BTW, the `switchml.cfg` of work1 is different from work2 only on worker_ip, whitch is 2.2.2.3.

[2022-07-07 03:33] lvleiai123 commented on #12
here are my nic info:
[code]

When i use it for switchml train， got errors like this：

[code]

switchml cann't find Ethernet ports ，if it has requirements for network card type ？what can i do for this problem.

[2022-07-07 04:27] 1908639561 commented on #15
Thank you very much for your help, I have been able to start this example, but it has the following exception again, I don't know what is the cause, can you give me some advice?

![1657167811183](https://user-images.githubusercontent.com/95405577/177690816-f5e1f270-5bc4-4270-893f-a078a0538d28.png)

My switchml.cfg is as follows ,and placed it in the ~/p4app-switchML/dev_root/build/bin with hello_w

[2022-07-07 07:54] mcanini commented on #12
Can you please check whether the DPDK mlx4 driver was built?
I fear that by default it is not built.

[2022-07-07 09:55] lvleiai123 opened #16 "No Ethernet ports"
here are my nic info:

Device #1:
----------
  Device Type:      ConnectX4
  Part Number:      MCX415A-CCA_Ax
  Description:      ConnectX-4 EN network interface card; 100GbE single-port QSFP28; PCIe3.0 x16; ROHS R6
  PSID:             MT_2140110033
  PCI Device Name:  d8:00.0
  Base GUID:        506b4b03000fb5c4
  Base MAC:         506b4b0fb5c4
  Versions:         Current        Available
     FW

[2022-07-08 08:53] lvleiai123 commented on #15
i have this same porblem  as you，has you solved it ？

[code]

[2022-07-08 08:59] 1908639561 commented on #15
@lvleiai123 ,
I'm very sorry, I don't have a solution yet. If you have a solution afterwards, I'd appreciate you telling me about it.

[2022-07-08 14:52] OasisArtisan commented on #15
You must run the controller to use the DPDK or RDMA backends. Without the controller you can only run with the dummy backend which is used usually for debugging (no real communication happens).

[2022-07-08 15:16] 1908639561 commented on #14
The ConnectX-6 NIC is set up just like the ConnectX-5 NIC.

[2022-07-08 15:16] #14 closed, assigned to 1908639561

[2022-07-08 15:23] 1908639561 commented on #15
@OasisArtisan, thank you very much for your help, I've been able to run the "hello_world" example on the client side! I would also like to do a joint test with the switch afterwards.
![image](https://user-images.githubusercontent.com/95405577/178021675-f9d57a40-c3f5-4900-a936-65bdd8637f02.png)

But I had some trouble on the switch side. Could you please take a look at the following issue?
https://

[2022-07-09 02:12] lvleiai123 commented on #15
@1908639561 i have been run switch and controller already，however this problem is still happed.

[code]
Furthermore，i can run "hello world" success with dummy ,but when i use dpdk or rdma backend，i got "Check failed: buf != MAP_FAILED && buf == requested_address Error allocating memory region: Cannot allocate memory [12]"

[2022-07-09 02:36] 1908639561 commented on #15
@lvleiai123 , have you set up this script?
https://github.com/p4lang/p4app-switchML/tree/main/dev_root/scripts

[2022-07-09 02:47] lvleiai123 commented on #15
i haven't run this scriptsa and i will try this now  .  we can get "DEV" by run “ibv_devices”,  how can i get another “REGS”.

[2022-07-09 02:51] 1908639561 commented on #15
I don't think it should need to be changed if you're using the ConnectX-5/6 NIC.

[2022-07-09 03:24] 1908639561 commented on #15
@lvleiai123 ,
What version of SDE are you using? Is your "switchml.cfg" file not properly configured?

[2022-07-09 03:29] lvleiai123 commented on #15
SDE = 9.5.0 , here are my configure ，i'm afraid i have configured correctlly
[switchml.txt](https://github.com/p4lang/p4app-switchML/files/9075788/switchml.txt)

[2022-07-09 03:34] AmedeoSapio commented on #13
Hi,
the code was tested with SDE 9.6.0, but since SDE 9.7 the name of the pktgen table has changed.
I have now updated the controller to support SDE 9.7+ in 1fc7e676919a51c6f67bcf823b72e1d52769c6a4

[2022-07-09 03:34] #13 closed

[2022-07-09 03:36] 1908639561 commented on #15
@lvleiai123 ,
 Indeed, you can try to modify different values, and the value of "rank" in this file should be different in different clients. Also the official test was done on "9.6.0", I think the "SDE" version may also need to be "9.6.0" or higher.

[2022-07-09 06:50] lvleiai123 commented on #15
i can also run hello world successfully by default configureation in switchml.cfg.
but when i change the  configuration  “backend = dummy” into “backend = rdma” in  switchml.cfg ,i will get errors like this
![Snipaste_2022-07-09_14-44-24](https://user-images.githubusercontent.com/59639597/178095005-750e5f4e-73fa-4d29-8726-46a7628c4564.png), you can try for it

[2022-07-09 06:51] AmedeoSapio commented on #15
Hi,
the SDE version 9.7 has changed the name of the pktgen table, so the controller code that worked for 9.6 and earlier versions does not work with 9.7+. I have now committed the changes to make it work with 9.7+.
@lvleiai123 I suggest to update to the a newer SDE, but if you want to keep using 9.5, do not pull the latest commit.

Regarding the "Cannot allocate memory [12]" error, I think that yo

[2022-07-09 07:04] AmedeoSapio commented on #16
Hi,
if you want to use the ConnectX 4 NIC with DPDK, there is no need to bind the NIC to the igb_uio driver, as the Mellanox driver (mlx5_core) is already compatible.

You should bind the NIC back to the mlx5_core driver, and make sure that the `extra_eal_options` value in the configuration file has the correct PCIe identifier of your NIC, in your case:
`extra_eal_options = -w 0000:d8:00.0`
Let us

[2022-07-09 07:26] AmedeoSapio commented on #12
Hi,
are you trying to use the X710 NIC? If this is the case, I think you don't need the Mellanox driver, but the I40e driver.
This problem is probably related to the Flow Director support in that I40e driver.
We use this feature to install flow rules in the NIC to distribute packets to the different threads. Every thread receives packets with a different UDP destination port. The flow rule matches

[2022-07-09 08:57] 1908639561 commented on #15
@AmedeoSapio  @OasisArtisan @lvleiai123，hi，
 I have been able to run "hello_world". But the client only seems to be sending packets, but never receiving packets from the switch. I am using SDE-9.8.0.But I guess I may need to try using SDE-9.7.0 in the future.
I have changed my switchml.cfg according to this issue：https://github.com/p4lang/p4app-switchML/issues/8#issue-1167374645
[switchml.cfg.txt]

[2022-07-09 09:08] Catchher commented on #12
THANKS.
I have tried your suggestion and run `helloworld` again.
It shows such an error:
![error](https://user-images.githubusercontent.com/26021997/178099138-a9a7a8f8-6629-49f6-a169-12487c44c39e.PNG)
Following is my `switchml.cfg` info,
![cfg](https://user-images.githubusercontent.com/26021997/178099173-1cdecbfa-8fe6-4754-9602-f5ee7cbc8295.PNG)
NIC info.
![3b001](https://user-images.githubusercon

[2022-07-09 09:16] 1908639561 commented on #15
I use "python3 switchml.py --switch-mac 00:90:fb:70:64:b9 --switch-ip 192.168.136.148" to run my controller.And my switch NIC information is as follows：
![1657358096571](https://user-images.githubusercontent.com/95405577/178099668-419ce09c-8416-4e1c-8334-802caf8ba355.png)

[2022-07-10 00:40] AmedeoSapio commented on #15
Hi,
the `--switch-mac` and `--switch-ip` parameters are the addresses that the switch uses while acting as endpoint, to send/receive packets to the RDMA NICs. These do not need to be addresses of a real NIC on your system.

For `--switch-mac` you can use the default value `00:11:22:33:44:55`, as long as no other NIC in your testbed has this exactly same MAC address.
For `--switch-ip` you need to p

[2022-07-10 00:54] AmedeoSapio commented on #12
Hi,
I believe the Intel X710 NIC needs to be bound to the `igb_uio` driver to work with DPDK. Yours is currently bound to the kernel driver `i40e`, which is why DPDK does not see it. You probably need to remove the IP address from the interface (so that it is no longer "active") and then use the [dpdk-devbind tool](https://doc.dpdk.org/guides/tools/devbind.html) to bind it to `igb_uio`.

For the h

[2022-07-10 02:47] 1908639561 commented on #15
Hi, @AmedeoSapio . Thank you for your reply！
I did what you said, but it still doesn't seem to work.The client is always waiting for the jobs to complete.I am using SDE-9.9.0.
![image](https://user-images.githubusercontent.com/95405577/178129064-20ef0629-9dcc-456e-9f09-199411ddfeca.png)

My RDMA NIC's status:
**ens6f1:**
- Link encap:Ethernet
- HWaddr 10:70:fd:06:fa:4d
- inet addr:10.0.0.4
- Bcast

[2022-07-10 14:03] 1908639561 commented on #15
Hi, @AmedeoSapio ，
I see in this question that we can only use ports below 64 to connect to the server, https://github.com/p4lang/p4app-switchML/issues/6#issuecomment-1063497997has this restriction not been lifted yet please?This is because the switches I use all have port numbers of 64 or more.

![image](https://user-images.githubusercontent.com/95405577/178148184-04eb993d-8754-4114-95c2-fa9ff953

[2022-07-11 01:53] AmedeoSapio commented on #15
Hi @1908639561,
that restriction is not present anymore, so you shouldn't have any problem with a 2-pipes switch (as long as you don't explicitly enable the folded pipeline in the controller).
Since you are mentioning that the switch is a 2 pipes switch, note that you can only use `packet_numel = 64` (see this other  https://github.com/p4lang/p4app-switchML/issues/6#issuecomment-1070319732 in that

[2022-07-11 03:08] 1908639561 commented on #15
Hi, @AmedeoSapio ，
I've changed its value, but it still doesn't work properly.
[switchml.cfg.txt](https://github.com/p4lang/p4app-switchML/files/9080621/switchml.cfg.txt)

[2022-07-11 03:18] Catchher commented on #12
Hi,
I have run the command` ifconfig ens7f1 down` and used the [dpdk-devbind tool](https://doc.dpdk.org/guides/tools/devbind.html) to bind `ens7f1` to `igb_uio`.
![newNIC](https://user-images.githubusercontent.com/26021997/178182172-11d87ff5-837c-4149-a896-4dcf6ab7ba16.PNG)

It seems I have solve the problem
[code]
and following is the result I got.
![dpdk](https://user-images.githubusercontent.co

[2022-07-11 21:25] AmedeoSapio commented on #12
Hi,
the `Flow isolated mode` error is not an issue, as it is only an optimization to simplify the job of the DPDK driver (see [here](https://doc.dpdk.org/guides/prog_guide/rte_flow.html#flow-isolated-mode) for the isolated mode description). Evidently the driver for your NIC is not implementing it, but the program should work even if that error is showed.

Are you running with the InsertFlowRule f

[2022-07-11 21:33] AmedeoSapio commented on #15
@1908639561 How many packets in/out that port do you see with the `pm show` command when you start the client?

[2022-07-12 01:50] lvleiai123 commented on #15
i have two  nodes，it have  been run successfully， i can see them in controller  by command "show_rdma_workers"。
[code]
here are info when i run train program in node work3：
[code]
work4：
[code]

However, i don't understand why node working with “TCP” ，also，  " Received  "and “Sent” is both 0 by  "show_rdma_workers" in controller.  All  Packets I captured in node work3 or work4  through "tcpdump" a

[2022-07-12 02:42] 1908639561 commented on #15
@AmedeoSapio , It is in this state：
![image](https://user-images.githubusercontent.com/95405577/178396878-bf0948b4-98a2-4cb1-95b3-d8671b528915.png)

[2022-07-12 07:29] Catchher commented on #12
Hi,
I comment the [InsertFlowRule](https://github.com/p4lang/p4app-switchML/blob/1fc7e676919a51c6f67bcf823b72e1d52769c6a4/dev_root/client_lib/src/backends/dpdk/dpdk_master_thread_utils.inc#L105) function, it can be see in this file
[dpdk_master_thread_utils.txt](https://github.com/p4lang/p4app-switchML/files/9090581/dpdk_master_thread_utils.txt)
, and run make DPDK=1 in third_party directory, then

[2022-07-13 02:18] 1908639561 commented on #15
I'm sorry, I think I made a fatal mistake because I reinstalled my switch system as ubuntu 18.04. So I was using the default normal user and my controller didn't have permission to handle the packets. After I recompiled SwitchML and ran the controller when I switched to root, I am now able to run "hello_world".
![image](https://user-images.githubusercontent.com/95405577/178636812-4fa07d74-7c86-4cd

[2022-07-13 06:43] lvleiai123 commented on #16
thanks， i have solved this problem successfully。
i have already changed my network card and i'm using MLX5 now，just add arguement "MLX5=1" when i run "make"
![Snipaste_2022-07-13_14-42-46](https://user-images.githubusercontent.com/59639597/178668056-1c9256ac-8f9a-4a1a-82c8-9a8f03081fa5.png)

[2022-07-13 06:46] #16 closed

[2022-07-13 06:49] #15 closed

[2022-07-25 07:05] 1908639561 opened #17 "Could not start the context due to missing configuration."
Hi, I have installed pytorch with "pytorch_patch" as required, but when I run "allreduce_pytorch_benchmark.py" from the benchmark, it gives the following error：
![1658732491863](https://user-images.githubusercontent.com/95405577/180717356-533d69c5-3feb-40dd-b599-7eaf0a4612c1.png)

[2022-07-25 12:15] #17 closed, assigned to nobody

[2022-07-26 02:24] lvleiai123 opened #18 "The acceleration effect does not meet the requirements。"
i can run switchml completely。however ,i can not get the ideal results。
i got 8785 seconds without switchml and got 9067 seconds with p4app-switchml ，why it have not acceleration effect at all ,  what can i do to adjust parameter。
use switchml
![base_r1](https://user-images.githubusercontent.com/59639597/180907030-ec42128d-1bf2-4f77-b29e-a25c9edbb4c1.png)
without switchml
![py17_r1](https://user-i

[2022-07-26 11:58] Catchher opened #19 "Question about folded_pipe."
Hi, I notice that the current project only supports folded_pipe1 and folded_pipe 4. Can I modify the code to support **folded_pipe 2**？

[2022-07-27 07:24] AmedeoSapio commented on #19
Hi,
yes, the current code supports one pass through Tofino to process 64 elements per packet (256B), and 4 passes to process 256 elements (1KB). This means either using 1 pipe or 4 pipes. It is surely possible to add support for 512B packets using 2 pipes. This can be supported by both the DPDK and RDMA backends, since ibverbs have a 512B MTU option (see [here](https://github.com/linux-rdma/rdma-c

[2022-07-28 07:08] Catchher commented on #19
Yes, But it seems not easy for me. I modified the code in next_step_selector.py, and I guess i make a mistake, because I don't know what's the correct steps to realize folded pipe2 and as the controler shows, switch only recieve packets, doesn't send.
[code]

[2022-07-28 07:10] Catchher commented on #19
But I'll go ahead and implement it, any suggestion would be helpful. THANKS.

[2022-07-28 13:42] OasisArtisan commented on #18
I assume you are using PyTorch. Which integration method are you using?.

I would increase the num_worker threads until it no longer provides benefits. 1 is too small. Try 4, 8 and other values and see how that affects performance.

The number of outstanding packets is another important option. Try 128, 256, 512 and see which works best.

If playing with both these doesn't improve your performance

[2022-07-29 02:48] lvleiai123 commented on #18
i have changed the  num_worker_threads  and  max_outstanding_packets, however，it dose not work at all :(
So， i give up DPDK and i'm using RDMA now。
i can run helloworld with RDMA successfully。
![Snipaste_2022-07-29_10-27-31](https://user-images.githubusercontent.com/59639597/181670301-6b465533-5fa9-460c-b936-b15e5f146d2e.png)

however ,i can not run pytorch。 And also  lots of ‘Retransmitted’ packe

[2022-07-29 23:44] OasisArtisan commented on #18
Okay let us start from the beginning,
How did you setup SwitchML ? How are you running the controller, the p4 code, and the client library?

Start debugging without PyTorch. Once you are sure that everything is working you can run through PyTorch.
You said that the helloworld example is working? Does it work for any configuration? Have you tried running with the benchmark as well? There is a verif

[2022-08-01 04:06] lvleiai123 commented on #18
i  used './run_switchd.sh -p switchml' in barefoot switch, and it works

[code]

Also，controller is in barefoot switch ，and i run it with command  'root@sonic:/sde/p4app-switchML/dev_root/controller# python switchml.py --program switchml --switch-mac 00:11:22:33:44:55 --switch-ip 2.2.2.100'

[code]
client lib ：i make it with command  " make RDMA=1  DEBUG=1  VCL=0  " in client_lib/  foldder

Follow

[2022-08-02 08:55] lvleiai123 commented on #18
hello ,i  debug it and find the problem , however， i don't know how to solve it  .
                `if (completions[i].opcode == IBV_WC_RECV_RDMA_WITH_IMM) {` in rdma_worker_thread.cc , this Judgment conditions can not run success  and 'IBV_WC_RECV_RDMA_WITH_IMM' related to rdma driver , am i make rdma in a  wrong way ?

[2022-08-02 11:12] 1908639561 opened #20 "Failed to install the Pytorch Patch"
When I run "git apply /home/antl/wjk/p4app-switchML/dev_root/build/" in the "/home/antl/wjk/p4app-switchML/dev_root/build/ switchml_pytorch.patch" from https://github.com/p4lang/p4app-switchML/tree/main/dev_root/frameworks_integration/pytorch_patch#3-apply-the-switchml-pytorch-patch-to-pytorch, it has the following problem.

![image](https://user-images.githubusercontent.com/95405577/182360348-a8b

[2022-08-02 14:58] OasisArtisan commented on #20
The patch must work if you are checking out to the correct PyTorch version

    git checkout 57bffc3 # The 1.7.1 version
    git submodule sync
    git submodule update --init --recursive

As for importing torch_switchml. You only do that for the pytorch plugin integration. The pytorch patch integrates into the existing Gloo backend. You only need to use gloo as your backend and SwitchML will kick

[2022-08-05 02:28] 1908639561 commented on #20
I think I have it installed and I can run "allreduce_pytorch_benchmark.py" successfully. But when I try to train the model, I find that the switch keeps dropping packets and retransmissions. I have tested adjusting "timeout", "timeout_threshold" or "timeout_threshold_increment ", but it still does not work. Do you have any suggestions?
![image](https://user-images.githubusercontent.com/95405577/18

[2022-08-06 02:12] lvleiai123 commented on #20
my quetion is same to you .
DPDK is OK。RDMA is retransmissions。
MARK.

[2022-08-07 20:48] OasisArtisan commented on #18
Although your throughput does not look too bad for 1 core with DEBUG mode enabled, the drop count seems off.
Have you disabled ICRC checking on the client side?
If not follow the instructions in the [scripts](https://github.com/p4lang/p4app-switchML/tree/main/dev_root/scripts) directory.

By the way you still did not tell me what integration method you used for pytorch. Pytorch plugin? Pytorch Pat

[2022-08-08 02:26] 1908639561 commented on #20
When I use only the cpu, it seems to work fine. But I can't view any of the packets on the switch side. I am using "Pytorch Patch" and I have disabled ICRC checking on the client side.
![image](https://user-images.githubusercontent.com/95405577/183325907-31fb4596-7388-4535-be1a-32e8dde176e7.png)
![image](https://user-images.githubusercontent.com/95405577/183325930-bfacd395-cdfa-43bf-9d24-1e9cce9f1

[2022-08-08 03:24] lvleiai123 commented on #18
Sorry for that: i‘m  using Pytorch Patch。And i have disabled ICRC correctly , however it keep “Retransmitted ” status 。
Finally，I alter the patch file in line 144 ,149  which from  "AllReduce" to “AllReduceAsync”  and recomplied it , it has worked successfully, i can run my pytorch  with command` “python main.py -a resnet50  --dist-url 'tcp://2.2.2.1:10000' --dist-backend 'gloo'  --gpu 0   --world

[2022-08-09 02:33] 1908639561 commented on #18
Hi, @lvleiai123 , I changed the "AllReduce" to "AllReduceAsync " the way you did, but I still fail and the switch keeps retransmitting and dropping packets.

[2022-08-15 07:15] Catchher commented on #19
@AmedeoSapio Hi,
I modified the relevant code according to your suggestions, and then successfully ran the test program, and the data verification of the test program passed. 2 folding is **6%** faster than 1 folding. Can this show that my 2-fold pipeline has been successfully implemented?
Finally, can I implement 4-fold pipes on a 2-pipe switch? I tried to modify the relevant ports, but the resul

[2022-08-15 07:28] Catchher opened #21 "Performance discussion."
Hi，
I'm a little confused about packets and folding pipes. One pipeline processes 64 elements data at a time. **Is this the limitation of Tofino chip?** If yes, can the data of 128 elements or 256 elements only be processed through the 2-fold pipeline and the 4-fold pipeline, or can the data of 128 elements and 256 elements not be processed on the switch with only one pipe.

[2022-08-15 07:54] #12 closed

[2022-08-16 06:39] lvleiai123 commented on #18
i set `batch_size=16`  in main.py  which is my own program ,i can get a good speedup now。

[2022-08-16 06:39] #18 closed, assigned to nobody

[2022-08-16 17:48] gkrls commented on #21
My understanding is that this is indeed due to a chip limitation (authors feel free to correct me). You can only parse a few hundred bytes in one go. For any number of elements, if they fit the parse limit they can be processed in 1 pipe, in 1 go. If they exceed it, you can still have 1 pipe but you have to recirculate and reparse the next N elements, and so on. In switch ML they fold the 3 (unuse

[2022-08-17 03:36] lvleiai123 opened #22 "batch_size"
hi，i'm using DPDK.
I have  got  3517s  when i run pytorch without switchml and 1912s  with p4app-switchml ，it speedup to 46%。
However ,when i adjust `batch_size=16`  to  `batch_size=256`  in ‘main.py’ which is my AI program，i just got 924s without switchml and 916s with p4app-switchml , it just speedup  0.8%。why `batch_size` become so importance？ i do not know  if  my  'Tesla V100-PCIE' card reach

[2022-08-31 02:09] Catchher opened #23 "How to get MLX5_0 REGS？"

[2022-09-02 17:18] lq470379 opened #24 "No traffic is communicated due to timeout"
I have setup SwitchML P4 app and controller successfully and compiled the client library for RDMA backend but I'm having a similar issue as #8 that no communication happens after worker setup. I have two workers with disabled ICRC and have tried this both for hello_world example and allreduce benchmark. Here is the output of `GLOG_logtostderr=1 GLOG_v=2 ./allreduce_benchmark` for one of the worker

[2022-09-02 21:32] lq470379 commented on #24
@OasisArtisan  @AmedeoSapio Also, I just noticed that if I ping between the workers and use tcpdump at the destination, the packets are arriving but with all zero values:
![Screen Shot 2022-09-02 at 4 31 58 PM](https://user-images.githubusercontent.com/112717144/188238041-f170523f-ad4f-4dc0-9af1-44b377744842.png)

While the ICMP packets going out of the worker seem fine.

Does this mean they were

[2022-09-06 01:45] OasisArtisan commented on #22
Hello, nice looking graph you got there.

SwitchML accelerates the communication step of distributed deep learning. Therefore you will only observe significant speedups when communication is the bottleneck. This might not always be the case depending on the model you are using and the setup you have (Computer power, network bandwidth...etc.).

Now coming to your question about batch size, the larg

[2022-09-16 06:18] Catchher commented on #19
I have implemented 2-folded pipeline successfully. Thanks. @AmedeoSapio

[2022-09-16 06:18] #19 closed, assigned to AmedeoSapio

[2022-09-16 06:19] Catchher commented on #21
THANKS. I got it.

[2022-09-16 06:19] #21 closed, assigned to nobody

[2022-09-16 06:20] Catchher commented on #23
That's not a problem now.

[2022-09-16 06:20] #23 closed, assigned to nobody

[2022-09-21 02:24] #22 closed, assigned to nobody

[2022-09-21 09:22] #20 closed, assigned to nobody

[2022-09-21 13:55] lq470379 commented on #24
@OasisArtisan @AmedeoSapio I think this issue should be related to something simple like a misconfiguration but unfortunately I have not found a solution.

[2022-09-30 09:14] Shangwei-Li opened #25 "Invalid pattern mask error with Intel i40e driver and possible fix"
Hi,
I would like to report a bug found in #12, which is related to Intel i40e driver, and a possible fix.
I am using Intel X722 10GbE card with the dpdk backend, and running switchML helloworld will throw an error at the function switchml:: InsertFlowRule():
`F0721 16:21:16.853484 108 dpdk_master_thread_utils.inc:154] Flow rule can't be added: 13Invalid pattern mask.`

I believe this is a compatib

[2022-10-11 08:34] LaceFern opened #26 "segment"
Hello. I recently try to run allreduce_benchmark with GPU. However, when I run it, the console prints "Segmentation fault (core dumped)" after it printed "Submitting 5 warmup jobs.". I find that when I compile the allreduce_benchmark using the command "make allreduce_benchmark  DPDK=1 MLX5=1 VCL=0 CUDA=1" under the /p4app-switchML/dev_root/benchmarks/, the console prints that "Makefile:72: CUDA is

[2022-10-11 13:04] OasisArtisan commented on #26
Hey Lace,
Yeah the CUDA flag is not yet fully supported. The benchmark is going to send GPU pointers to the client library, but the client library prepostprocessors will deal with it as a CPU pointer hence the segmentation fault. This means that you have to copy your tensors to CPU before you use SwitchML.

[2022-10-12 04:54] LaceFern commented on #26
Thanks very much!

[2022-10-12 04:54] #26 closed, assigned to OasisArtisan

[2022-10-14 08:59] LaceFern opened #27 "Undefined reference to rte functions when compiling allreduce_benchmark with RDMA=1."
Hello. Sorry to bother again. I try to compile allreduce_benchmark with RDMA=1. However, when I compile it with the command "make allreduce_benchmark  RDMA=1 MLX5=1 VCL=0 CUDA=1", the console prints something as follows. It shows that many rte functions used in dpdk_master_thread.cc are not defined. I'm puzzled that why **dpdk**_master_thread.cc is included in the compiling process for **RDMA**, a

[2022-10-27 19:36] kfertakis opened #28 "Unable to run multiple SwitchML instances on same machine"
Hi,

I'm trying to utilize both of my MLX5 NIC's ports for an experiment and I'm having trouble running the `allreduce_benchmark` when two instances are executed on the same machine. I have programmatically set the configuration for each instance by overloading the client library constructor to accept a configuration file path. I'm thus explicitly telling one instance to use `mlx5_0` and the other

[2022-10-28 15:02] kfertakis opened #29 "Error building DPDK for client lib"
Hi,

I'm trying to build the client lib with DPDK as the communication backend but I'm getting the following compilation error when trying to build the specific DPDK version from the source in the `third_party/dpdk` folder

[code]

I see that in the makefile the flag `-fPIC` is included but researching online about the specific error, people propose avoiding PIE by including `-fno-pie`. I would ap

[2022-11-02 13:45] kfertakis opened #30 "DPDK flow isolated mode failed"
Hi,

I'm trying to run an experiment with workers having a mix of MLX5 NICs and some workers have Intel 82599 ES 10G NICs. However, when the `allreduce_benchmark` is started in the worker with the intel NIC, an error is generated from DPDK saying `Flow isolated mode failed: 1 Function not implemented`. Any insights on this would be much appreciated.

Thanks.

[2022-11-07 08:24] Shangwei-Li commented on #30
Intel i40e driver have not implemented isolated mode, which guarantees that all ingress traffic comes from defined flow rules only. But it should be fine if all incoming packets are SwitchML packets since flow directors will handle them well.

[2022-11-08 01:57] AmedeoSapio commented on #30
Hi,
yes, I agree with @Shangwei-Li. The Intel i40e driver does not support the isolated mode, but it is not a problem if you only have SwitchML traffic in that interface. See [here](https://doc.dpdk.org/guides/prog_guide/rte_flow.html#flow-isolated-mode) for the isolated mode description.
You can comment out this line to avoid enabling the isolated mode.
https://github.com/p4lang/p4app-switchML/bl

[2022-11-16 18:42] kfertakis commented on #30
I see. Thank you both for the comments. I managed to get it working.

[2022-11-16 18:42] #30 closed, assigned to AmedeoSapio

[2022-11-16 19:11] kfertakis opened #31 "Problem using SwitchML with PCI NIC virtual function"
Hi,

I am running SwitchML `allreduce_benchmark`s on a cluster of nodes with a mix of MLX5 NICs and some with Intel 82599 ES 10G NICs thus I'm using DPDK as the communication backend. I need to share the NIC on each host with other traffic so I'm virtualizing it by creating a [virtual function of the PCI device](https://doc.dpdk.org/guides/linux_gsg/linux_drivers.html#creating-virtual-functions-us

[2022-11-18 02:08] lvleiai123 opened #32 "nccl_plugin"
Can I use nccl_plugin or switchml_nccl.patch in current  p4app-SwitchML  ?
I don't konw how it works， if  node send Roce packets  to P4 switch instead of  another node when i use nccl_plugin or switchml_nccl.patch ？

[2022-11-21 16:25] kfertakis commented on #29
Update: The build is successful if `-fPIC` is removed from the Makefile. Thanks.

[2022-11-21 16:25] #29 closed, assigned to nobody

[2022-11-21 16:36] #28 closed, assigned to AmedeoSapio

[2022-11-21 16:45] kfertakis opened #33 "Configuring port recirculation"
Hi,

I'm running some SwitchML benchmarks on a BF2556-1T switch and I would like to use some of its QSFP ports in the experiments. However, these ports correspond to the pipe num.3 which are all statically reserved for packet recirculation by the SwitchML P4 code here:

https://github.com/p4lang/p4app-switchML/blob/7ded628eb31a86e80ad0bf65e72a3e94e0e13d05/dev_root/p4/parsers.p4#L46-L59

Could you

[2022-11-21 22:48] lq470379 commented on #28
Did you manage to get this work? I ran to the same problem :/

[2022-11-21 22:54] lq470379 commented on #26
Does this mean the performance reported in switchML paper is with back and forth tensor copy between CPU and GPU memory?

[2022-11-22 14:54] kfertakis commented on #5
Hi,

is there a way to disable ICRC on a Mellanox Connect-X 4 device? Thank you.

[2022-11-22 15:08] AmedeoSapio commented on #5
Hi,
I think there is, but it is done using different registers than the ConnectX-5 and 6.
The registers are the ones in the `REGS` variable in the provided script. I don't know the exact register numbers for ConnectX 4, the Mellanox/Nvidia's customer support is probably the best source for this.

[2022-11-22 15:50] AmedeoSapio commented on #33
Hi,
with 256B payloads (64 elements per packet) packets from the workers are processed or "consumed" without recirculation. Only the packet from the last worker is recirculated once to collect or "harvest" the results before sending the packet back to the workers. In this case we only recirculate one packet every N (=number of workers) and so we use only one port for recirculation (port 68, which

[2022-11-22 15:50] #33 closed, assigned to AmedeoSapio

[2022-11-22 23:46] AmedeoSapio commented on #26
Yes, that is correct. The training experiments reported in the NSDI'21 paper are copying data from the GPU buffer to the CPU memory, performing quantization and then using DPDK to send data to the switch. The same with inverted order and dequantization happens in the other direction.
We expect a significant improvement with 1) quantization done by the GPU and 2) using GPU-direct RDMA or similar te

[2022-11-23 21:54] kfertakis commented on #33
Thank you very much for the thorough walkthrough.

So just to clarify something, for the 2-pipe switches (such as the BF2556-1T I'm using) for which the folded-pipe case is not enabled, thus 256B payloads (64 elements per packet), in order to use the additional front panel ports that correspond to the second pipe, all that is needed is to change the parser to whitelist these ports, correct? since

[2022-11-24 08:16] AmedeoSapio commented on #33
Yes, that is correct, only the parser must be changed in this case. All
ports except 68 should transition to `parse_ethernet`.

On Wed, Nov 23, 2022, 10:54 PM Konstantinos Fertakis <
***@***.***> wrote:

[2022-11-24 09:56] kfertakis commented on #33
Could there be any additional place where the ports for pipe 1,2,3 are disabled somehow? I have commented out the recirculation parsing logic as shown below:
[code]

but I get a strange behavior when I include a worker from these ports in the execution:

<img width="798" alt="image" src="https://user-images.githubusercontent.com/22995161/203753274-ae6a2713-39ae-4d1b-9050-0f67f80f8329.png">

packet

[2022-11-24 10:55] kfertakis commented on #33
Could it be perhaps that it is related to what you described @AmedeoSapio that registers in tofino are pipe-local and thus we can't have workers of the same job spanning different pipes? As it would lead to CONSUM0 happening on a different pipe than that of HARVEST? Thanks.

[2022-11-24 11:30] kfertakis commented on #28
No, I gave up on this endeavor, unfortunately. I think there was a more fundamental issue with the local IP routing tables of the host as it was discarding packets received on one interface sent from the other, presumably as it thought it could contact them locally. Maybe network namespaces could help in making this work. I would be interested to know if you make it happen @lq470379 .

[2022-11-24 12:07] kfertakis commented on #33
So I think the issue is indeed related to having workers on different pipes concurrently on the same job. I've tested this by only including workers on pipe number 3 (previously reserved in the parser for recirculation) and the execution completed successfully. I'll open a separate issue for this for better readability.

[2022-11-24 12:38] kfertakis opened #34 "Using multiple pipes on the same job"
Hi,

This issue is related to #33. I am using a BF2556-1T switch with two pipes on the Tofino chip and I'm trying to use its QSFP front panel ports which are unfortunately split between pipe 1 and pipe 3 of the switch. Since I'm not using the folded pipe option, I've changed the parser logic in order to not reserve pipes 1-3 for recirculation as follows:

[code]

However, when I execute a job incl

[2022-11-29 01:02] AmedeoSapio commented on #34
Hi,
yes, it is not possible to support workers connected to different pipes participating in the same job.
The current code uses both a bitmap and a counter to mark workers' contributions.
The bitmap is used to set a bit every time a new packet from a worker is received, in order to identify retransmissions.
A separate counter is used to count how many workers sent their contribution, to find out

[2022-11-29 01:27] AmedeoSapio commented on #28
I never tried this myself, so I would be interested in knowing what the problem is.
Is there any relevant information in the log? We use glog, so you can use the `GLOG_v=2 GLOG_logtostderr=1` environment variables to see the logs, and you will see more info when compiling with the DEBUG flag.

This issue also depends on what backend you are using. For DPDK there are some flags (like `--file-prefix